<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samaritan</title>
    <link href="../public/bootstrap.css" rel="stylesheet">
    <link href="../public/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Samaritan</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li onclick="window.open('https://www.volunteermatch.org/')"><a>Volunteer Here</a></li>
        </ul>
        <form class="navbar-form navbar-right" action ="/search" method="POST">
          <input class="form-control" placeholder="Search" type="text" id="search" name="search">
          <button class="btn btn-success" type="submit" value="Submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<br/>
<br/>

  {{#logged_in}}
  <div class="container">
{{#users}}
<h1>Welcome {{name}}.</h1>
{{/users}}
    <h2>Use the search function in the top right to find a nonprofit you can help</h2>
  </div>

  <div class="container">
    <h3 class="list" id="org">Organization List:</h3>
    {{#search}}
      <h4><a href ="/organizations/{{orgid}}">{{name}}</a></h4>
      <h5>{{mission}}</h5>
      <hr>
    {{/search}}
    <button id="home" type="button" class="btn btn-success"onclick="location.href='/logout'">Log Out</button>
    <button id="account" type="button" class="btn btn-success" onClick=window.location.replace("/user")>Go to Account Page</button>
  </div>
  {{/logged_in}}

  {{^logged_in}} <!-- not logged in -->
  <div class="container">
  <h1>Welcome Samaritan. How will you do good today?</h1>
  <form action="/login" method="post" class="form-inline">
    <div class="container">
      <div class="results">
        <div class="inputBox">
          <p>Email</p>
          <input class="form-control" id="inputEmail" name="email" placeholder="Email" type="text">
          <br><br>
          <p>Password</p>
          <input class="form-control" id="inputPassword" name="password" placeholder="Password" type="password">
         <button class="btn btn-success" type="submit">Login!</button><br><br>
            <h4>You can still use our search function without logging in. To keep track of your donations, please sign in.</h4>
            <h4>Not a member? <a class = "btn btn-success" href="/signup">Sign Up!</a></h4>
        </div>{{/logged_in}}
      </div>
  </form>
  </div>
</body>
<!--  <script src="../public/jquery.js"></script>
  <script src="../public/script.js"></script> -->
</html>
