<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samaritan</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald" rel="stylesheet">
  <link href="../public/style.css" rel="stylesheet">
  <link href="../public/bootstrap.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Samaritan</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <form class="navbar-form navbar-right" action ="/search" method="POST">
          <input class="form-control" placeholder="Search" type="text" id="search" name="search">
          <button class="btn btn-success" type="submit" value="Submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<br/>
<br/>
  <!-- <div class="jumbotron"> -->
    <div class="container">
      <h1>Welcome Samaritan. How will you do good today?</h1>
    </div>
  <!-- </div> -->
  {{#logged_in}}
  <div class="container">
    {{#users}}
    <h4>Welcome {{name}}!</h4>
    {{/users}}
    <button id="account" type="button" class="btn btn-success">Go to Account Page</button>
    <p>Use the search function in the top right to find a nonprofit you can help</p>
    <div class="container">
      <p class="hide" id="nothing">Your pledges:</p>{{#organizations}}
      {{name}}
      <form action="/organizations/{{id}}?_method=DELETE" method="post" class ="form-group">
        <button id="delete" type="submit" >Delete</button>
      </form>{{/organizations}}
    </div><br>
    <a href="/logout">Logout!</a>
  </div>
  <div class="container">
    <div class="results">
      <div class="profile">
        <p class="list" id="org">Organizations:</p>
        <hr>
        <p class="list" id="donations">Donations:</p>
        <hr>
        <button id="save" type="button" class="btn btn-success">Save Value</button>
        <button id="home" type="button" class="btn btn-success">My Account</button>
      </div>
    </div>
  </div>{{/logged_in}} {{^logged_in}} <!-- not logged in -->
  <div class="container">
  <form action="/login" method="post" class="form-group">
    <div class="container">
      <div class="results">
        <div class="inputBox">
          <p>Email</p>
          <div>
            <input class="form-control" id="inputEmail" name="email" placeholder="Email" type="text">
          </div>
          <p>Password</p>
          <div>
            <input class="form-control" id="inputPassword" name="password" placeholder="Password" type="password">
          </div><button class="btn btn-success" type="submit">Login!</button><br>
          <p>You can still use our search function without logging in. But for optimal viewing, please sign in.</p>
          <p>Not a member? <a class = "btn btn-success" href="/signup">Sign Up!</a></p>
        </div>{{/logged_in}}
      </div><!-- <script src="../public/jquery.js"></script>
  <script src="../public/config.js"></script>
  <script src="../public/script.js"></script> -->
    </div>
  </form>
</body>
</html>
