<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Page</title>
    <link href="../public/bootstrap.css" rel="stylesheet">
    <link href="../public/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Samaritan</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <form class="navbar-form navbar-right" action ="/search" method="POST">
          <input class="form-control" placeholder="Search" type="text" id="search" name="search">
          <button class="btn btn-success" type="submit" value="Submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<br/>
<br/>
<br/>
<br/>

<div class="container">
<h1>Sorry, Invalid Username or Password.</h1>

<button class="btn btn-success" onclick="location.href='/'">Go Back</button>
<p>Not a member?
<button class="btn btn-success" onclick="location.href='/signup'">Sign Up!</button> </p>

</body>
</html>
