<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <link href="../public/style.css" rel="stylesheet">
    <link href="../public/bootstrap.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Samaritan</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <form class="navbar-form navbar-right" action ="/search" method="POST">
          <input class="form-control" placeholder="Search" type="text" id="search" name="search">
          <button class="btn btn-success" type="submit" value="Submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>

<div class= "container">
  <h2>{{orgname}}</h2>
  <h3>{{orgadd1}} {{orgadd2}}</h3>
  <h3>{{programs}}</h3>
  <h4>Your pledges:</h4>
  <h5>{{#donation}}</h5>

  <h5>$ {{pledge}} Pledged on {{my_date}}</h5><br>

  <form action="/pledges/{{id}}?_method=DELETE" method="post" class ="form-group">
  <button id="delete" type="submit" >Delete</button>
  </form>{{/donation}}
 </div>


</body>
<!--  <script src="../public/jquery.js"></script>
  <script src="../public/script.js"></script> -->
</html>
