<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald" rel="stylesheet">
    <link href="../public/style.css" rel="stylesheet">
    <link href="../public/bootstrap.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Samaritan</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input class="form-control" placeholder="Search" type="text">
          </div><button class="btn btn-success" type="submit" value="Submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<br/>
<br/>
<br/>
<br/>
<div class= "container">
<form action ="/signup" method ="post" class="form-inline">
<div class="inputBox" >
  <h4>Name</h4>
  <div>
    <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Full Name" >
  </div>
  <h4>Username</h4>
  <div>
    <input name="username" type="text" class="form-control" id="username" placeholder="Username">
  </div>
  <h4>Email</h4>
  <div>
    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
  </div>
  <h4>Password</h4>
  <div>
    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success" id="searchbtn" id= "signup">Sign Up!</button>
</div>
</form>
</div>
</body>
<!--  <script src="../public/jquery.js"></script>
  <script src="../public/script.js"></script> -->
</html>
